$White:#ffffff;
$colorEmperor:#555252;
$colorMountainMeadow:#1abc9c;
$colorBlack:#000000;
$colorMineShaft:#323232;
$colorHawkesBlue:#e9f0fd;
$colorEmperor2:#515151;
$colorKilamanjaro:#0f0101;
$colorPuertoRico:#4ec6ab;
$colorWhite2:#fefefe;
$colorPuertoRico2:#46bfa9;
$minwidth:300px;

$mw:1110px;
$w:1600px;
$fontfamily:"Open Sans";
$ffR:"Roboto"